<!--<?xml version="1.0" encoding="UTF-8"?>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.sunil.Dev" autowire="byType">
<!--        <property name="com" ref="com"/>-->
<!--        <property name="laptop" ref="lap1"/>-->
<!--        <property name="age" value="18"/>-->
<!--        <constructor-arg value="20"/>-->
<!--        <constructor-arg ref="lap1"/>-->
    </bean>
    <bean id="com" class="com.sunil.Laptop" primary="true"></bean>
<!--    <bean id="lap2" class="com.sunil.Laptop"></bean>-->
    <bean id="com1" class="com.sunil.Desktop"></bean>

</beans>